**
!business-api/
!business-api/**
!device-communication/
!device-communication/**
!database/
!database/**
!deploy/
!deploy/postgres/
!deploy/postgres/**

business-api/.gocache/
business-api/.gocache*/
business-api/logs/
business-api/bin/
**/*.exe
**/*.log
**/*.test
